/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-bottom: 20px;
}

.gameCanvas {
  display: flex;
  justify-content: center;
}

.signUpContainer {
  width: auto;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border-radius: 5px;
  border: none;
  padding: 4px 10px;
}

span {
  font-family: 'Mountains of Christmas', cursive;
}

.genericInput {

}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
