* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
  color: white;
	padding-bottom: 2px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Mountains of Christmas', cursive;
	font-weight: bold;
	padding-bottom: 5px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url('../buttons_ico/background.jpg') no-repeat;
	background-size: 100% 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-bottom: 20px;
}

.gameCanvas {
  display: flex;
  justify-content: center;
}

#myCanvas {
	outline: none;
}

.fakeForm, .logOutForm {
	padding-left: 1.5px;
}

.innerDiv {
	padding: 0 1.5px;
}

.loginForm {
  display: flex;
  justify-content: space-between;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  transition: all 0.5s ease;
  background: #eae7e7 url('../buttons_ico/input_bg_ico.png') no-repeat;
  border: 0.5px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  padding: 8px 10px 8px 40px;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px #ed1c24 inset;
  -moz-box-shadow: 0 0 2px #ed1c24 inset;
  -ms-box-shadow: 0 0 2px #ed1c24 inset;
  -o-box-shadow: 0 0 2px #ed1c24 inset;
  box-shadow: 0 0 2px #ed1c24 inset;
  background-color: #fff;
  border: 1px solid #ed1c24;
  outline: none;
}

.loginBtn {
  border-radius: 5px;
  border-width: 0.1px;
  background-color: rgba(87, 247, 59, 0.97);
  color: white;
  border-color: rgba(87, 247, 59, 0.97);
  padding: 4px 10px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  outline: none;
}

.loginBtn:hover {
  box-shadow: 0 0 12px rgba(87, 247, 59, 0.97);
  background-color: rgba(115, 249, 108, 0.94);
  text-shadow: 0 0 1px rgba(254, 239, 236, 0.9);
}

.logOutBtn {
  border-radius: 5px;
  border-width: 0.1px;
  background-color: rgba(247, 244, 59, 0.97);
  color: white;
  border-color: rgba(247, 244, 59, 0.97);
  padding: 4px 10px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  outline: none;
}

.logOutBtn:hover {
  box-shadow: 0 0 12px rgba(247, 244, 59, 0.97);
  background-color: rgba(248, 245, 84, 0.97);
  text-shadow: 0 0 1px rgba(254, 239, 236, 0.9);
}

.userName {
  background-position: 10px 5px !important;
}

.passWord {
  background-position: 10px -58px !important;
}

.signUpContainer {
  width: auto;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signUpHolder {
  background-color: white;
  padding: 20px 40px;
  border-radius: 4px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
	padding-bottom: 2px;
}

.signUpForm .signUpName p,
.signUpForm .signUpPass p {
  color: red;
  font-style: italic;
}

.signUpForm input[type="text"],
.signUpForm input[type="password"] {
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  transition: all 0.5s ease;
  border: 0.5px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 100%;
}

.signUpForm input[type="text"]:focus,
.signUpForm input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px #ed1c24 inset;
  -moz-box-shadow: 0 0 2px #ed1c24 inset;
  -ms-box-shadow: 0 0 2px #ed1c24 inset;
  -o-box-shadow: 0 0 2px #ed1c24 inset;
  box-shadow: 0 0 2px #ed1c24 inset;
  background-color: #fff;
  border: 1px solid #ed1c24;
  outline: none;
}

.signUpName,
.signUpPass {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fsTitle {
  font-size: 20px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 20px;
}

.returnBtn span a:link,
.returnBtn span a:visited,
.returnBtn span a:hover,
.returnBtn span a:active {
  text-decoration: none;
  color: inherit;
}

.registerBtn,
.returnBtn,
.reBtn {
  border-radius: 5px;
  border-width: 0.1px;
  background-color: rgba(211, 39, 9, 0.86);
  border-color: rgba(211, 39, 9, 0.86);
  padding: 4px 10px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  outline: none;
}

.registerBtn,
.returnBtn {
  width: 94.98px;
}

.registerBtn:hover,
.returnBtn:hover,
.reBtn:hover {
  box-shadow: 0 0 12px rgba(211, 39, 9, 0.86);
  background-color: rgba(240, 53, 20, 0.9);
  text-shadow: 0 0 2px rgba(254, 239, 236, 0.9);
}

span {
  font-size: 18px;
  font-family: 'Mountains of Christmas', cursive;
}
/*
.genericInput {

}
*/
.leftDiv, .rightDiv {
  color: white;
}

.leftDiv {
  width: 100%;
  /*background-color: green;*/
}

.controlsInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0 0 10px 0;
}

.infoLeft, .infoRight {
	width: 50%;
}

.infoLeft div, .infoRight div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/******** right side div ********/
.rightDiv {
  width: 100%;
}

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.tab li {
  float: left;
}

/*if ever use */
ul.tab li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change background color of links on hover*/
ul.tab li a:hover {
  text-shadow: 0px 0px 20px white;
}

/* Create an active/current tablink class*/
ul.tab li a:focus, .active {
	border-bottom: 5px solid white;
}

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
		animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: rgba(50, 50, 50, 0.5);
}
/*tr {
	padding: 3px 0px;
}

thead tr {
	border-bottom: 1px solid white;
}

th p {
	font-weight: bold;
}

th {
	padding: 0 5px;
}

th, td {
	width: 10%;
	border: none;
}

tbody tr:hover {
	background-color: grey;
}*/

.mainSection {
  display: flex;
  justify-content: space-between;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
