extends layout.pug
block content
  .header
    if loggedIn
      form(action='/logout' method='get')
        button.logOutBtn
          span Logout
      span
        p Welcome #{username}
    else
      form.loginForm(action='/login' method='post')
        div
          input.genericInput.userName(type='text' name='userFieldInput' placeholder="Username")
        div
          input.genericInput.passWord(type='password' name='passFieldInput' placeholder="Password")
        div
          button.loginBtn
            img(src='./buttons_ico/santa_claus_ico.png')
            span  Login
      form(action='/signup' method='get')
        button.reBtn
          img(src='./buttons_ico/snowman_ico.png')
          span  Register
  section.mainSection
    .leftDiv
      h3 About the game
      span This is a christmas game designed for everybody and should take only 30-40 minutes to complete the game.
      h3 Controls
      .controlsInfo
        .infoLeft
          div
            img(src='./buttons_ico/w_btn.png')
            span  move Up
          div
            img(src='./buttons_ico/s_btn.png')
            span  move Down
          div
            img(src='./buttons_ico/a_btn.png')
            span  move Left
          div
            img(src='./buttons_ico/d_btn.png')
            span  move Right
        .infoRight
          div
            img(src='./buttons_ico/mouse_select_left.png')
            span  click/hold to Shoot
          div
            img(src='./buttons_ico/p_btn.png')
            span  Pause
          div
            img(src='./buttons_ico/t_btn.png')
            span  Start Game
          div
            img(src='./buttons_ico/k_btn.png')
            span  Reset
      if loggedIn
      else
        h3 Register for more fun!!!
        span If you register you can save your game online and play anywhere. Compete against other player.
    .gameCanvas
      canvas#myCanvas(width='800', height='600', style='border: 1px solid black;', tabindex='1')
    include ranking.pug
  script(src='./js/mainPage.js')
  script(src='./js/globals.js')
  script(src='./js/consts.js')
  script(src='./js/util.js')
  script(src='./js/keys.js')
  script(src='./js/handleMouse.js')

  script(src='./js/spatialManager.js')
  script(src='./js/entityManager.js')
  script(src='./js/Sprite.js')
  script(src='./js/AnimationSprite.js')
  script(src='./js/Entity.js')
  script(src='./js/Player.js')
  script(src='./js/Generator.js')
  script(src='./js/Button.js')
  script(src='./js/Upgrade.js')


  script(src='./js/backGround.js')
  script(src='./js/foreGround.js')
  script(src='./js/Tree.js')
  script(src='./js/Animations.js')
  script(src='./js/Snow.js')
  script(src='./js/Stardust.js')

  script(src='./js/Sleigh.js')
  script(src='./js/PowerUp.js')
  script(src='./js/Snowball.js')
  script(src='./js/EnemySnowball.js')
  script(src='./js/Gift.js')
  script(src='./js/straightGift.js')
  script(src='./js/snakeGift.js')
  script(src='./js/BombGift.js')
  script(src='./js/HomingGift.js')
  script(src='./js/EnemySnowman.js')
  script(src='./js/CloudEnemy.js')
  script(src='./js/update.js')
  script(src='./js/render.js')

  script(src='./js/imagesPreload.js')
  script(src='./js/createSprites.js')
  script(src='./js/main.js')

  script(src='./js/SantaInTroubles.js')
