doctype html
html(lang='en')
  head
    title=title
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='./styles/styles.css')
    script(src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas" rel="stylesheet")
  body
    .wrapper
      block content
