.rightDiv
  ul.tab
    li
      a.tablinks#firstTab(href="javascript:void(0)" onclick="openRanking(event, 'daily')") Daily
    li
      a.tablinks(href="javascript:void(0)" onclick="openRanking(event, 'weekly')") Weekly
  div.tabContent#daily
    table
      thead
        tr.tableHead
          th
            p Name
          th
            p Score
      tbody
        each round,i in dailyRanking
          tr
            td= round.username
            td= round.score
  div.tabContent#weekly
    table
      thead
        tr.tableHead
          th
            p Name
          th
            p Score
      tbody
        each round,i in weeklyRanking
          tr
            td= round.username
            td= round.score
