extends layout
block content
  .signUpContainer
    form(action='/newUser' method='post')
      input.genericInput(type='text' name='userFieldInput' placeholder="Username" required)
      p=userError
      input.genericInput(type='password' name='passFieldInput' placeholder="Password")
      p=passError
      button
        img(src='./buttons_ico/snowman_ico.png')
        span  Submit
