extends layout
block content
  div
    form(action='/newUser' method='post')
      label Name:
      input(type='text' name='userFieldInput')
      label Password:
      input(type='password' name='passFieldInput')
      button Submit
