extends layout
block content
  div
    form(action='/newUser' method='post')
      input(type='text' name='userFieldInput' placeholder="username" required)
      p=userError
      input(type='password' name='passFieldInput' placeholder="password")
      p=passError
      button Submit
